body {
  background: black;
  font-family: "Yusei Magic", sans-serif;
  font-size: 28px;
  overflow: hidden;
  box-sizing: border-box;
  /* font-family: 'Pangolin', cursive; */
}
#start {
  position: relative;
  background: black;
  width: 100vw;
  height: 100vh;
  transition: 0.2s;
  z-index: 20;
}
#startBtn {
  height: 100px;
  width: 300px;
  border-radius: 30%;
  font-size: 40px;
  display: block;
  position: relative;
  border: 1px solid white;
  margin: 0 auto;
  top: 50%;
  background: none;
  color: #ffffff;
  font-family: "Yusei Magic";
}
#canvas1 {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 940px;
  background-image: url(img/background2.png);
  background-size: 100% 100%;
  visibility: hidden;
}

@font-face {
  font-family: "font";
  src: url("font/8-BIT WONDER.TTF") format("truetype");
}
/* slider */
.slideContainer {
  justify-content: center;
  visibility: hidden;
}
.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 10px;
  background: linear-gradient(
    90deg,
    rgb(117, 252, 117) 60%,
    rgb(214, 214, 214) 60%
  );
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
  transform: rotate(270deg);
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.playBtn {
  transform: translateX(-65px);
  transform: translateY(-40px);
  margin: 5px;
  display: block;
  border-radius: 50%;
}
#canvas2 {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 940px;
  background-image: url(img/Cartoon_Forest_BG_02.png);
  background-size: 100% 100%;
  visibility: hidden;
}
#canvas3 {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 940px;
  background: transparent;
  background-size: 100% 100%;
  z-index: 10;
}
#canvas4 {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3000px;
  height: 940px;
  background: transparent;
  background-size: 100% 100%;
  z-index: 9;
}
#nextday1 {
  top: 0;
  background: black;
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100vh;
  color: aliceblue;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  visibility: hidden;
}
#nextday {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#looseBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +100%);
  font-size: 30px;
  width: 280px;
  height: 70px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  z-index: 50;
  /* background: linear-gradient(#cbe9a0, #a1c059); */
  font-family: "Aldrich", sans-serif;
  visibility: hidden;
  text-shadow: 2px white;
  background: rgba(100, 185, 150, 0.6);
  border: none;
}
#skipDiv {
  height: 70px;
  width: 180px;
  font-size: 35px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(100, 150, 185, 0.6);
  color: #ffffff;
  font-family: "Yusei Magic";
  text-align: center;
  visibility: hidden;
  cursor: pointer;
  z-index: 99;
  border-radius: 10%;
}
#buildings {
  background: rgba(100, 150, 185, 0.8);
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 330px;
  width: 410px;
  z-index: 100;
  padding: 20px;
  text-align: center;
  border-radius: 5%;
  font-family: "Aldrich";
  visibility: hidden;
}
.buildingImg {
  width: 100px;
  height: 100px; /* 
  background: center, no-repeat, cover; */
  padding: 10px;
  display: inline;
  float: left;
  transform: translateY(-10px);
}
/* #tower {
  width: 150px;
  height: 150px;
} */
.imgText {
  display: inline;
  font-size: 22px;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
#buildingDiv {
  margin: 10px;
  display: block;
  height: 130px;
  border-radius: 5%;
  padding-top: 19px;
}
#buildingDiv:hover {
  background: rgba(100, 150, 185, 0.8);
  border: 1px solid black;
}
#info {
  width: 900px;
  height: 650px;
  background: rgba(100, 150, 185, 0.8);
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  visibility: hidden;
}
#infoText {
  text-align: left;
  padding: 0 20px;
  font-family: "Aldrich";
}
li {
  margin-left: 30px;
}
#help {
  position: absolute;
  height: 55px;
  width: 55px;
  object-fit: contain;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  visibility: hidden;
}
